<!DOCTYPE html>
<html>
  <head>
    <title>Demo Nhom N</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>AN TOÀN ĐIỆN TOÁN ĐÁM MÂY</h1>
    <p>Welcome Demo Nhóm N</p>
  </body>
</html>
